<!doctype html>
<html><!--начало-->
	<head>
		<meta charset="utf-8">
		<link rel="icon" type="image/svg+xml" href="Picture/Favicon.png" />
 		 <!-- Заголовок в зависимости от языка -->
		<title>Резюме</title>	
  		<meta name="title-ru" content="Резюме" id="title-ru">
 		 <meta name="title-en" content="CV" id="title-en">
 		 <link rel="stylesheet" href="style.css">
		
		<!--Для подтверждения в фринансе-->
		<meta name='freelancehunt' content='046b12f86269239'>
	
	</head><!-- голова-->
	<body class="ru">
		<div class="container"><!--SOCIAL-->
						
			<!--PROFILE-->
		
			<section id="profie">

				<div class="ru" lang="ru">
					<h1 class="heading">Профіль</h1>
				</div>

						<div class="en" lang="en">
						<h1 class="heading">Profile</h1>
						</div>

				<div  align="right">
					<span class="lang-switcher lang-switcher--ru" id="switcher-ru">UA</span>
					<span class="lang-switcher lang-switcher--en" id="switcher-en">EN</span>
				</div>

				<div class="row">
					<article id="photo" class="col col-30">

						<div class="ru" lang="ru">
							<h2 class="title">Сергій Пузанков</h2>
							<h3 class="title">Я, 
								<span id="element"></span>
							</h3>
						</div>

							<div class="en" lang="en">
								<h2 class="title">Sergey Puzankov</h2>
								<h3 class="title">I'm a 
									<span id="element_en"></span>
								</h3>
							</div>

						<div class="round"><img src="moto1.jpg" alt="">
						</div>

						<div class="ru" lang="ru">
							<h2 class="title"> Про мене</h2>
							<div>			
								<p class="about_me">Знання мов JS, HTML, CSS та фреймворку VueJS, ReactJS </p>
								<p>Досвід розробки на Opencart</p>
								
							</div>
						</div>

								<div class="en" lang="en">
								<h2 class="title"> About me</h2>
								<div>						
									<p class="about_me">Knowledge of programming languages JS, HTML, CSS and framework VueJS, ReactJS </p>
									<p>Development experience on Opencart</p>
									
								</div>
							</div>
					</article>
					
					<article id="about" class="col col-30">
						
						<div class="ru" lang="ru">
							<h2 class="title"> Технологiї, якi я використовую:</h2>
						</div>

						<div class="en" lang="en">
							<h2 class="title">Technologies I use:</h2>
						</div>

							<div class="skills__body">						
								<div class="skills__body-blocks">
									<div class="skills__body-block__img">
										<img src="icon/html.png" alt="HTML">
									</div>
									<p>HTML</p>
								</div>
								<div class="skills__body-blocks">
									<div class="skills__body-block__img">
										<img src="icon/css.png" alt="CSS">
									</div>
									<p>CSS</p>
								</div>
								<div class="skills__body-blocks">
									<div class="skills__body-block__img">
										<img src="icon/js.png" alt="JS">
									</div>
									<p>JS</p>
								</div>
								<div class="skills__body-blocks">
									<div class="skills__body-block__img">
										<img src="icon/scss.png" alt="SCSS">
									</div>
									<p>SCSS</p>
								</div>
								<div class="skills__body-blocks">
									<div class="skills__body-block__img">
										<img src="icon/favicon.ico" alt="VUE">
									</div>
									<p>VUE</p>
								</div>
								<div class="skills__body-blocks">
									<div class="skills__body-block__img">
										<img src="icon/gulp.png" alt="GULP">
									</div>
									<p>GULP</p>
								</div>
								<div class="skills__body-blocks">
									<div class="skills__body-block__img">
										<img src="icon/webpack.png" alt="WEBPACK">
									</div>
									<p>WEBPACK</p>
								</div>
								<div class="skills__body-blocks">
									<div class="skills__body-block__img">
										<img src="icon/bem.png" alt="BEM">
									</div>
									<p>BEM</p>
								</div>
								<div class="skills__body-blocks">
									<div class="skills__body-block__img">
										<img src="icon/git.png" alt="GIT">
									</div>
									<p>GIT</p>
								</div>
								<div class="skills__body-blocks">
									<div class="skills__body-block__img">
										<img src="icon/figma.png" alt="FIGMA">
									</div>
									<p>FIGMA</p>
								</div>
								<div class="skills__body-blocks">
									<div class="skills__body-block__img">
										<img src="icon/photoshop.png" alt="PHOTOSHOP">
									</div>
									<p>PHOTOSHOP</p>
								</div>
							</div>
							<!-- <a href="https://serhiis2.wordpress.com/">Копія Wordpress</a> -->
						

						

					</article>
					
					<article id="about" class="col col-30">	
						<!--Выпадающее меню-->
						<div class="dropdown">	

							<div class="ru" lang="ru">
								<h2 class="title">Робота над проектами:</h2>
							</div>

							<div class="en" lang="en">
								<h2 class="title">Work on projects:</h2>
							</div>

							<div class="dropdown-content">
								<a href="https://sergey28111977.github.io/Cocktails-main/">Cocktails-main</a>
								<a href="https://sergey28111977.github.io/Forecast/">Forecast</a>
								<a href="https://sergey28111977.github.io/remember_me/">Remember Me</a>
								<a href="https://sergey28111977.github.io/lalka/">Світ ляльок</a>
								<a href="https://sergey28111977.github.io/open_meteo/">Open meteo</a>
								<a href="https://sergey28111977.github.io/ActivePlanet/">Active Planet</a>
								<a href="https://sergey28111977.github.io/start/work/films/index.html">Films</a>
								<a href="https://sergey28111977.github.io/start/work/Tom-Home/Tom.html">Tom</a>
								<a href="https://sergey28111977.github.io/start/work/Medforum/medforum.html">Medforum</a>
								<a href="https://sergey28111977.github.io/invo_1/">4 AL Areas section</a>
								<a href="https://sergey28111977.github.io/invo2/">Simplified order summary</a>
								<a href="https://sergey28111977.github.io/invo3/">NFT Card</a>
								<a href="https://sergey28111977.github.io/invo4/">Pricing plans</a>
								<a href="https://sergey28111977.github.io/invo5/">Blog card</a>
								<a href="https://sergey28111977.github.io/invo6/">Section of 3 benefits</a>
								<a href="https://sergey28111977.github.io/invo22/">Nike order summary view</a>
								<a href="https://sergey28111977.github.io/invo23/">FAQ section</a>
								<a href="https://sergey28111977.github.io/invo_24/">Simplified product card</a>
								<a href="https://sergey28111977.github.io/pop_it/">Pop it</a>
								<a href="https://sergey28111977.github.io/invo25/">Product review modal</a>
							</div>
						</div>
						
						<div class="picture">
							<a href="https://sergey28111977.github.io/Cocktails-main/"><img class="scale" src="Picture/cocktail.jpg" alt="Cocktails-main"></a>
							<a href="https://sergey28111977.github.io/Forecast/"><img class="scale" src="Picture/Forecast.png" alt="Forecast"></a>
							<a href="https://sergey28111977.github.io/remember_me/"><img class="scale" src="Picture/remember_me.png" alt="remember_me"></a>
							<a href="https://sergey28111977.github.io/lalka/"><img class="scale" src="Picture/lalka.jpg" alt="lalka"></a>
							<a href="https://sergey28111977.github.io/open_meteo/"><img class="scale" src="Picture/open-meteo.png" alt="open_meteo"></a>
							<a href="https://sergey28111977.github.io/ActivePlanet/"><img class="scale" src="Picture/ActivePlanet.jpg" alt="ActivePlanet"></a>
							<a href="https://sergey28111977.github.io/start/work/films/index.html"><img class="scale" src="work/films/films.png" alt="films"></a>
							<a href="https://sergey28111977.github.io/start/work/Tom-Home/Tom.html"><img class="scale" src="work/Tom-Home/tom.png" alt="Tom"></a>
							<a href="https://sergey28111977.github.io/start/work/Medforum/medforum.html"><img class="scale" src="work/Medforum/medforum.png" alt="Medforum"></a>
							<a href="https://sergey28111977.github.io/invo_1/"><img class="scale" src="Picture/4_AL_Areas_section.png" alt="4_AL_Areas_section"></a>
							<a href="https://sergey28111977.github.io/invo2/"><img class="scale" src="Picture/Simplified_order_summary.png" alt="Simplified_order_summary.png"></a>
							<a href="https://sergey28111977.github.io/invo3/"><img class="scale" src="Picture/NFT_Card.png" alt="NFT_Card"></a>
							<a href="https://sergey28111977.github.io/invo4/"><img class="scale" src="Picture/Pricing_plans.png" alt="Pricing_plans"></a>
							<a href="https://sergey28111977.github.io/invo5/"><img class="scale" src="Picture/Blog_card.png" alt="Blog_card"></a>
							<a href="https://sergey28111977.github.io/invo6/"><img class="scale" src="Picture/Section_of_3_benefits.png" alt="Section_of_3_benefits"></a>
							<a href="https://sergey28111977.github.io/invo22/"><img class="scale" src="Picture/Nike_order_summary_view.png" alt="Nike_order_summary_view"></a>
							<a href="https://sergey28111977.github.io/invo23/"><img class="scale" src="Picture/FAQ_section.png" alt="FAQ_section"></a>
							<a href="https://sergey28111977.github.io/invo_24/"><img class="scale" src="Picture/Simplified_product_card.png" alt="Simplified_product_card"></a>
							<a href="https://sergey28111977.github.io/pop_it/"><img class="scale" src="Picture/pop_it.png" alt="pop_it"></a>
							<a href="https://sergey28111977.github.io/invo25/"><img class="scale" src="Picture/Product_review_modal.png" alt="Product_review_modal"></a>
							
						</div>
						
					</article>
					
				</div>		
				<div class="row">
				<article id="services">
					
					<div class="ru" lang="ru">
						<h2 class="title">Мої програми:</h2>
					
						<ul id="services">
							<li class="col col-25"><a href="https://sergey28111977.github.io/start/play15.html">Гра п'ятнашки</a>
								<p>Опис гри: Початок гри, перемішуємо та збираємо до початкового стану.</p>
							</li>

							<li class="col col-25"><a href="https://sergey28111977.github.io/start/Book.html">Записна книжка</a>
								<p>Опис програми: Додаємо записи після виконання можна видаляти.</p>
							</li>

							<li class="col col-25"><a href="https://sergey28111977.github.io/start/fuel/index.html">Витрата палива для автомобіля</a>
								<p>Опис програми: Потрібно заправляти паливо до відстрілу пістолета. Після пройденої відстані знову заправляємо до відстрілу та вводимо дані.</p>
							</li>

							<li class="col col-25"><a href="https://sergey28111977.github.io/start/five dots in a row.html">Гра 5 точок у ряд</a>
								<p>
									Опис гри: Грають 2 гравці, хто перший збере п'ять точок поспіль по горизонталі, вертикалі або діагоналі.</p>
							</li>
						</ul>
					</div>

						<div class="en" lang="en">
						<h2 class="title">My products</h2>
					
						<ul id="services">
							<li class="col col-25"><a href="https://sergey28111977.github.io/start/play15.html">Fifteen game</a>
								<p>Game description: The beginning of the game, mix and collect to its original state.</p>
							</li>

							<li class="col col-25"><a href="https://sergey28111977.github.io/start/Book.html">Notebook</a>
								<p>Application description: We add records after execution can be deleted.</p>
							</li>

							<li class="col col-25"><a href="https://sergey28111977.github.io/start/fuel/index.html">Fuel consumption for car</a>
								<p>Application Description: You need to refuel before the gun fires. After the distance traveled, we refuel again until the shooting and enter the data.</p>
							</li>

							<li class="col col-25"><a href="https://sergey28111977.github.io/start/five dots in a row.html">Game 5 dots in a row</a>
								<p>Game description: Play 2 players who will be the first to collect five dots in a row horizontally, vertically or diagonally.</p>
							</li>
						</ul>
					</div>

				</div>
				</article>
			</section>
		</div>

		<div class="block_news" id="app">
			<hr/>
			<ul>	
				<li v-for="( pagination) in commits">
					<div v-for="( pagination, i) in commits.pagination.count" >
				
						<a :href="`${commits.data[i].url}`" class="panel">
        
							<div class="flex-grow-0">
							  <img :src="`${commits.data[i].image}`" alt="">
							</div>
							<div class="flex-grow-1">
							  <p>{{ commits.data[i].title }}</p> <br>
							  <p>{{ commits.data[i].description }}</p>
							</div>
							<div class="flex-grow-2">
							  <p>{{ formatDate(commits.data[i].published_at.slice(0, 16)) }}</p><br>
							  <p>{{ commits.data[i].author }}</p>
							</div>
						</a>
					</div>
				</li>
			</ul>		
		</div>


		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  		<script src="./app.js"></script>
		
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-H1KJGY7H2M"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-H1KJGY7H2M');
		</script>
		<script src="external.js"></script>
		 

		 <!-- Load library from the CDN -->
		 <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
	   
		 <!-- Setup and start animation! -->
		 <script>
		   var typed = new Typed('#element', {
			 strings: ['Frontend розробник.', 'ПРОГРАМІСТ.'],
			 typeSpeed: 60,
			 backSpeed: 60,
			 loop: true,
		   });
		 </script>

		<script>
			var typed = new Typed('#element_en', {
			strings: ['Frontend devloper.', 'PROGRAMMER.'],
			typeSpeed: 60,
			backSpeed: 60,
			loop: true,
			});
		</script>

	</body><!--тело-->
</html><!--конец-->
