/* Скрываем "не тот" язык */
.en .ru, .ru .en  {
  display: none;
}

/* Переключалки языка */
.lang-switcher {
 border-bottom: 1px dashed;
 cursor: pointer;
 
}
.lang-switcher:hover {
  color: #b33;
}

/* Выделяем активную переключалку тоже с помощью классов родителя */
.en .lang-switcher--en,
.ru .lang-switcher--ru {
 	color: white;
  border-bottom: none;
  font-weight: bold;
  cursor: default;
}

body{
	font-family: 'Open Sans', sans-serif;
	background: url(matrix-356024_1280.jpg) left top repeat;
	background-attachment: fixed; /*обои стоят на месте а текст движется*/
	text-align: center;
	color: white;
}

/*Общие стили для разметки*/
.container{
	width: 80%;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
}
/*display: inline; - элемент строчный*/	
/*display: block; - элемент блочный*/		
/*display: inline-block; - элемент строчно-блочный*/		
/*решетка - селектор id*/		
/*селектор id круче чем класс*/		
/*#profile{
	background: red;
}*/
#social{
	text-align: right;
	margin: 0;
}
/* > - выбирает только те элементы, которые ынутри 
определенного элемента (в данном случае li, которые внутри)*/			
		
#social>li{
	display: inline-block;
}
/*рядок, который будет убирать подтекание (owerflow) колонок (float)*/
.row{
	overflow: hidden;
}	

.col{
	float: left;
	padding: 10px;
	box-sizing: border-box;/*css3 заправить padding*/
}

.col-40{
	width: 40%;
	overflow: hidden;
}

.col-60{
	width: 60%;
}

.col-30{
	width: 33%;
}

.col-25{
	width: 25%;
}

.round{
	background: aqua;
    max-width: 300px;
    height: 300px;
    border-radius: 150px;
    margin: 0 auto;
		overflow: hidden; /*прячет выступающую за края кружочка часть внутренней картинки*/
		position: relative;
		border: 6px solid #ccc;
}	
.round>img{
	width: 372px;
    left: -49px;
    top: -79px;
    position: absolute;
}

section{
	background: rgba(0,0,0,0.6);/*rgba фон чорного с прозрачностью*/
}

/* Типографика*/
.heading{
		font-family: 'Roboto Slab', serif;
		margin: 0;
}

li {
    list-style-type: none; /* Убираем маркеры */
}
	
.title{
	text-align: center;
	color: whitesmoke;
}
section p{
	color: white;
}

#about a{
	color: white;
}

#services{
	text-align: center;
	margin: 0;
	
}

#services a{
	color: white;
}

/*Выпадающее меню*/

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0c220d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(68, 219, 91, 0.89);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.scale {
	width: 150px;	
	transition: 1s; /* Время эффекта */
}

.scale:hover {
  transform: scale(1.5); /* Увеличиваем масштаб */
  box-shadow: 15px 15px 20px 5px #333;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #0f8f0d;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: block;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 

/*Скрытие фото при размере экрана менее 1000рх*/
@media (max-width: 1250px) {
	.foto {
		display: none;
	}

	.container{
		width: 100%;
		margin-top: 0px;
	}
/*
	.scale {
		width: 125px;	
		transition: 1s; /* Время эффекта */
	/*}*/
}

@media only screen and (max-width: 1005px) {
	.col-30{
		width: 100%;
	}
	
	.col-25{
		width: 100%;
	}
}
